*/obj
*/bin
*.suo
/$tf
/.vs/netCvReco/v15/Server/sqlite3
/packages
/tests/lidarTest/obj
/tests/lidarTest/bin
/tests/AdurinoTest/bin
/tests/AdurinoTest/obj
/tests/CrashTest/obj
/tests/CrashTest/bin
/netCvReco.VC.db
/netCvReco.VC.VC.opendb
/tests/StImgTest/bin/x64/Debug/StImgTest.vshost.exe.config
/tests/StImgTest/bin/x64/Debug/StImgTest.vshost.exe
/tests/StImgTest/bin/x64/Debug/StImgTest.pdb
/tests/StImgTest/bin/x64/Debug/StImgTest.exe.config
/tests/StImgTest/bin/x64/Debug/StImgTest.exe
/tests/StImgTest/bin/x64/Debug/netCvLib.pdb
/tests/StImgTest/bin/x64/Debug/netCvLib.dll
/tests/StImgTest/bin/x64/Debug/log4net.xml
/tests/StImgTest/bin/x64/Debug/log4net.dll
/tests/StImgTest/bin/x64/Debug/Emgu.CV.World.dll
/tests/StImgTest/bin/x64/Debug/DisplayLib.pdb
/tests/StImgTest/bin/x64/Debug/DisplayLib.dll
/tests/StImgTest/bin/Debug/StImgTest.vshost.exe.manifest
/tests/StImgTest/bin/Debug/StImgTest.vshost.exe.config
/tests/StImgTest/bin/Debug/StImgTest.vshost.exe
/tests/StImgTest/bin/Debug/StImgTest.pdb
/tests/StImgTest/bin/Debug/StImgTest.exe.config
/tests/StImgTest/bin/Debug/StImgTest.exe
/tests/StImgTest/bin/Debug/netCvLib.pdb
/tests/StImgTest/bin/Debug/netCvLib.dll
/tests/StImgTest/bin/Debug/log4net.xml
/tests/StImgTest/bin/Debug/log4net.dll
/tests/StImgTest/bin/Debug/Emgu.CV.World.dll
/tests/StImgTest/bin/Debug/DisplayLib.pdb
/tests/StImgTest/bin/Debug/DisplayLib.dll
