*/obj
*/bin
*.suo
/$tf
/.vs/netCvReco/v15/Server/sqlite3
/packages
/tests/lidarTest/obj
/tests/lidarTest/bin
/tests/AdurinoTest/bin
/tests/AdurinoTest/obj
/tests/CrashTest/obj
/tests/CrashTest/bin
/netCvReco.VC.db
/netCvReco.VC.VC.opendb
/tests/StImgTest/bin/*
/tests/StImgTest/obj/*
/tests/MatrixTest/bin/*
/tests/MatrixTest/obj/*
